extends layout

block content
  h1 Text to voice test
  p Just type a text and click 'Speak!'
  input#what_to_say.form-control(type='text', placeholder='What should i say')
  button(onclick="whatToSay()", title="makealel") Speak!
