extends layout

block content
  h1 This is a lel
  p Welcome to voiceform
  form(method='POST' action='')
      div.form-group
        label(for='first_name') First Name:
        input#text_to_speech.form-control(type='text', placeholder='Text')
      button.btn.btn-primary(type='submit') Submit
